<section id="intro-wrap" class="intro-five-Wrap bg-primary text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 intro-five-LeftSection pb-5">
                <h1 class="intro-title font-weight-bold text-white text-42 mb-3 t-shadow">{{ 'INTRO.TITLE' | translate }}</h1>
                <p class="intro-text text-20 mb-4">{{ 'INTRO.TEXT' | translate }}</p>
                <div class="intro-list-container mb-5 lead">
                    <ul class="list-inline">
                        <li class="mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>{{ 'INTRO.SUB_TEXT_1' | translate }}</li>
                        <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> {{ 'INTRO.SUB_TEXT_2' | translate }}</li>
                    </ul>
                </div>
                <div class="intro-list-container intro-five-Buttons">
                    <a id="" routerLink="#" class="btn btn-warning btn-lg pl-5 pr-5 pb-2 mb-4 text-uppercase" href="#" role="button">
                      {{ 'INTRO.LEARN_MORE' | translate }}
                    </a>

                </div>

            </div>
            <div class="col-md-6  intro-five-RightSection d-flex align-items-center">

                <div class="intro-five-ProductImage">

                    <img src="./assets/images/landing/svg/home_1.svg" class="img-responsive" alt="" [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
