<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">

            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class="logo-container">
                        <h4 class="card-title font-weight-bold">{{ 'FOOTER.TITLE' | translate }}</h4>
                        <img class="logo" src="assets/images/landing/lOGO_d/school_logo.png" alt="logo">
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="center col-md-3 mb-4 mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="center-text card-title font-weight-bold">{{ 'FOOTER.TITLE_1' | translate }}</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>{{ 'FOOTER.SUB_TITLE_1' | translate }}</li>
                                <li class=" mb-3 "><i class="eva eva-checkmark-outline mr-2 text-warning"></i>{{ 'FOOTER.SUB_TITLE_2' | translate }}</li>
                                <li class="mb-3"><i class="eva eva-checkmark-outline mr-2 text-warning"></i> {{ 'FOOTER.SUB_TITLE_3' | translate }} </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="center col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">

                    <div class="">
                        <h4 class="center-text font-weight-bold">{{ 'FOOTER.TITLE_2' | translate }}</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>{{ 'FOOTER.SUB_TITLE_4' | translate }}</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>test@yahoo.com</li>

                            </ul>
                        </div>

                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i> +91 9841799999</li>

                            </ul>
                        </div>


                        <!-- <section class="social-wrap ">

                            <div class="social-btns-wrap">

                                <a class="social-btn text-30 facebook ml-0" href="#"><i class="eva eva-facebook"></i></a>

                                <a class="social-btn text-30 twitter" href="#"><i class="eva eva-twitter"></i></a>

                                <a class="social-btn text-30 google" href="#"><i class="eva eva-google"></i></a>

                            </div>
                        </section> -->
                    </div>
                </div>
            </div>
            <!-- end of col -->

        </div>
    </div>
</section>
