<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="features-title col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">{{ 'FEATURES.TITLE' | translate }}</h2>
                <p>{{ 'FEATURES.TEXT' | translate }}</p>
            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row">

                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-monitor-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">{{ 'FEATURES.SUB_TITLE_1' | translate }}</h4>
                                <p>{{ 'FEATURES.SUB_TEXT_1' | translate }}</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-car-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">{{ 'FEATURES.SUB_TITLE_2' | translate }}</h4>
                                <p>{{ 'FEATURES.SUB_TEXT_2' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-award-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">{{ 'FEATURES.SUB_TITLE_3' | translate }}</h4>
                                <p>{{ 'FEATURES.SUB_TEXT_3' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">{{ 'FEATURES.SUB_TITLE_4' | translate }}</h4>
                                <p>{{ 'FEATURES.SUB_TEXT_4' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>

            </div>
            <!-- end of col-6 -->
            <div class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/home_2.svg" class="img-responsive w-100" alt="">
            </div>

        </div>
    </div>
</section>
